h2{
    color: rgb(255, 205, 240);
}
th, td{
    border: 2px solid color(srgb red );
    padding: 10px;

}
table{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
}